@media (max-width: 1919.98px) {
  header {
    padding: 27px 30px 0 30px;
  }
  main .main_text {
    padding-left: 27px;
    width: 440px;
  }
  main .main_header {
    font-size: 3rem;
  }
  main .main_info {
    font-size: 2rem;
  }
  main .wheel_outside {
    left: 300px;
  }
  main .wheel_inside {
    left: 370px;
  }
  main .btn {
    left: 625px;
  }
}
@media (max-width: 1399.98px) {
  main .main_text {
    width: 330px;
  }
  main .main_header {
    font-size: 2.5rem;
  }
  main .main_info {
    font-size: 1.5rem;
  }
  main .wheel_outside {
    left: 200px;
  }
  main .wheel_inside {
    left: 270px;
  }
  main .btn {
    left: 525px;
  }
  footer .footer_wrapper > div {
    width: 17%;
  }
  .modal-window {
    padding: 32px 60px 57px 60px;
  }
}
@media (max-width: 1199.98px) {
  main {
    background: url("../img/bg/smoke.png") bottom center / contain no-repeat;
  }
  main .wheel_outside {
    top: 270px;
    left: 150px;
    width: 694px;
    height: 803px;
  }
  main .wheel_inside {
    top: 340px;
    left: 212px;
    width: 565px;
    height: 565px;
  }
  main .btn {
    top: 590px;
    left: 425px;
  }
  footer {
    padding: 21px 0;
    background-color: #000;
  }
  footer .footer_wrapper {
    flex-wrap: wrap;
  }
  footer .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .footer_wrapper > div:nth-child(4) {
    width: 100%;
    justify-content: center;
  }
  footer .footer_wrapper > div:nth-child(2) {
    order: 4;
    margin-bottom: 0;
  }
  .modal-window {
    padding: 32px 60px 57px 60px;
  }
  .modal-title {
    font-size: 34px;
  }
  .modal-amount {
    font-size: 110px;
  }
  .modal-info {
    line-height: 110px;
  }
}
@media (max-width: 991.98px) {
  .wrapper {
    background: url("../img/bg/rectangle_top.png") top center/contain no-repeat,
      url("../img/bg/bg_mobile.jpg") center center/cover no-repeat;
  }
  header {
    padding: 13px 30px 0 30px;
  }
  header .logo_mobile {
    display: inline;
  }
  header .logo {
    display: none;
  }
  header .title {
    display: none;
  }
  header .button {
    padding: 5px 10px;
    border: 1px solid #f8ff13;
    font-size: 14px;
    font-weight: 700;
    color: #f8ff13;
    background-color: transparent;
    transform: skew(-15deg);
    cursor: pointer;
  }
  header a:hover {
    opacity: 1;
  }
  header .button:hover {
    opacity: 1;
  }
  main {
    display: block;
    height: 909px;
    background: url("../img/bg/golden_dust_mobile.png") bottom left / contain
        repeat-x,
      url("../img/bg/smoke.png") center bottom / contain no-repeat;
  }
  main .main_text_mobile {
    display: block;
  }
  main .main_text_mobile .title {
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #f8ff13;
  }
  main .main_text_mobile .title span {
    color: #fff;
  }
  main .main_text_mobile .header {
    margin: 68px 0 0 30px;
    width: 300px;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #f8ff13;
  }
  main .main_text_mobile .info {
    margin-left: 30px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
  }
  main .main_text_mobile .info span {
    color: #f8ff13;
  }
  main .main_text_mobile .link {
    position: absolute;
    bottom: 20px;
    left: 260px;
    z-index: 3;
  }
  main .main_text_mobile .link a {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    color: #fff;
  }
  main .main_text_mobile .cowboy {
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 626px;
    height: 827px;
    background: url("../img/bg/cowboy_mobile.png") right bottom/contain
      no-repeat;
  }
  main .main_text {
    display: none;
  }
  main .wheel_outside {
    top: 350px;
    left: 22px;
    width: 494px;
    height: 603px;
  }
  main .wheel_inside {
    top: 403px;
    left: 55px;
    width: 425px;
    height: 425px;
  }
  main .btn {
    top: 590px;
    left: 217px;
    font-size: 32px;
  }
  main .btn:hover {
    transform: scale(1);
  }
  footer {
    padding: 13px 0;
  }
  footer .footer_wrapper > div {
    margin-bottom: 10px;
  }
  footer .footer_wrapper .footer_payment a:hover,
  footer .footer_wrapper .footer_app a:hover,
  footer .footer_wrapper .footer_social a:hover {
    transform: scale(1);
  }
  .modal-window {
    padding: 32px 40px 57px 40px;
  }
  .modal-title {
    font-size: 30px;
  }
  .modal-amount {
    font-size: 100px;
  }
  .modal-info {
    font-size: 20px;
    line-height: 100px;
  }
  .modal-btn {
    width: 331px;
  }
}
@media (max-width: 767.98px) {
  .wrapper {
    background: url("../img/bg/rectangle_top.png") top center/contain no-repeat,
      url("../img/bg/bg_mobile.jpg") center center/cover no-repeat;
  }
  header {
    padding: 13px 20px 0 20px;
  }
  main {
    height: 471px;
  }
  main .main_text_mobile .title {
    font-size: 20px;
  }
  main .main_text_mobile .header {
    margin: 8px 0 0 50px;
  }
  main .main_text_mobile .info {
    margin-left: 50px;
    margin-bottom: 90px;
  }
  main .main_text_mobile .link {
    bottom: 5px;
    left: 210px;
  }
  main .main_text_mobile .link a {
    font-size: 9px;
  }
  main .main_text_mobile .cowboy {
    right: 100px;
    width: 226px;
    height: 427px;
  }
  main .wheel_inside {
    top: 229px;
    left: 122px;
    width: 204px;
    height: 204px;
  }
  main .wheel_outside {
    top: 205px;
    left: 100px;
    width: 250px;
    height: 285px;
  }
  main .btn {
    top: 320px;
    left: 203px;
    font-size: 13px;
    line-height: 22px;
  }
  .modal-window {
    padding: 22px 20px 37px 20px;
  }
  .modal-title {
    font-size: 23px;
  }
  .modal-amount {
    font-size: 80px;
    line-height: 80px;
  }
  .modal-info {
    font-size: 20px;
    line-height: 80px;
  }
  .modal-btn {
    width: 300px;
    font-size: 23px;
  }
}
@media (max-width: 575.98px) {
  main .main_text_mobile .title {
    margin-top: 12px;
    font-size: 14px;
  }
  main .main_text_mobile .header {
    margin: 5px 0 0 15px;
    width: 245px;
    font-size: 28px;
  }
  main .main_text_mobile .info {
    margin-left: 15px;
    line-height: 28px;
  }
  main .main_text_mobile .link {
    left: 120px;
  }
  main .main_text_mobile .cowboy {
    right: 0;
  }
  main .wheel_inside {
    left: 22px;
  }
  main .wheel_outside {
    left: 0;
  }
  main .btn {
    left: 103px;
  }
  footer .footer_wrapper > div {
    margin-bottom: 25px;
  }
  .modal-window {
    padding: 22px 20px 37px 20px;
  }
  .modal-close {
    top: 14px;
    right: 14px;
    width: 10px;
    height: 10px;
  }
  .modal-title {
    font-size: 18px;
    line-height: 52px;
  }
  .modal-amount {
    font-size: 50px;
    line-height: 50px;
  }
  .modal-info {
    font-size: 13px;
    line-height: 52px;
  }
  .modal-btn {
    padding: 12px 39px;
    width: 200px;
    font-size: 16px;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    transform: skew(0deg);
  }
}
