* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Pari-Match", sans-serif;
  font-size: 100%;
  min-width: 320px;
}
.wrapper {
  position: relative;
  background: url("../img/bg/smoke.png") bottom center / contain no-repeat,
    url("../img/bg/cowboy.png") 70% 100% / cover no-repeat,
    url("../img/bg/rectangle_top.png") top center / contain no-repeat,
    url("../img/bg/bg.jpg") center center / cover no-repeat;
}
header {
  padding: 27px 40px 0 61px;
  display: flex;
  justify-content: space-between;
}
header .logo_mobile {
  display: none;
}
header .title {
  margin: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 2.625rem;
  color: #fff;
}
header .title-yellow {
  color: #f8ff13;
}
header .button {
  padding: 0.3125rem 0.875rem 0.6875rem 0.9375rem;
  border: 1px solid #f8ff13;
  font-size: 1.0625rem;
  font-weight: bold;
  color: #f8ff13;
  background-color: transparent;
  transform: skew(-15deg);
  cursor: pointer;
}
header a:hover {
  opacity: 0.8;
}
header .button:hover {
  opacity: 0.8;
}
main {
  position: relative;
  height: 1009px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}
main .main_text_mobile {
  display: none;
}
main .main_text {
  padding: 16.0625rem 0 0 6.875rem;
  width: 540px;
}
main .main_header {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1;
  color: #f8ff13;
}
main .main_link {
  margin-top: 25px;
  margin-left: 0.625rem;
}
main .main_link a {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1;
  color: #fff;
}
main .main_info {
  margin-top: 25px;
  font-size: 2.75rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
main .text-yellow {
  color: #f8ff13;
}
main .wheel_inside {
  display: block;
  position: absolute;
  top: 265px;
  left: 634px;
  width: 647px;
  height: 647px;
  background: url("../img/bg/wheel_inside.png") center center/cover no-repeat;
}
main .wheel_outside {
  display: block;
  position: absolute;
  top: 194px;
  left: 563px;
  width: 794px;
  height: 903px;
  background: url("../img/bg/wheel_outside.png") center center/cover no-repeat;
}
main .btn {
  position: absolute;
  top: 555px;
  left: 890px;
  font-size: 2.8125rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
main .btn:hover {
  transform: scale(1.1);
}
main .wheel_inside.animate {
  animation: rotating 1s 1 ease-in-out forwards;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(430deg);
  }
}
main .wheel_inside.animateSecond {
  animation: rotatingSecond 1s 1 ease-in-out forwards;
}
@keyframes rotatingSecond {
  0% {
    transform: rotate(430deg);
  }
  100% {
    transform: rotate(740deg);
  }
}
footer {
  position: relative;
  z-index: 2;
  padding: 32px 60px 27px 39px;
  background: url("../img/bg/rectangle_bottom.png") bottom center / contain
    no-repeat;
}
footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer_wrapper > div {
  width: 25%;
}
footer .footer_wrapper > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}
footer .footer_wrapper .footer_payment {
  width: 285px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrapper .footer_app {
  width: 265px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrapper .footer_trust {
  position: relative;
  width: 169px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrapper .footer_trust a:last-child {
  position: absolute;
  top: 0;
  right: 0;
}
footer .footer_wrapper .footer_social {
  width: 255px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrapper .footer_payment a:hover,
footer .footer_wrapper .footer_app a:hover,
footer .footer_wrapper .footer_social a:hover {
  transform: scale(1.1);
}

.modal.open .modal-overlay,
.modal.open .modal-window {
  opacity: 1;
  z-index: 4;
}
.modal.hide .modal-overlay,
.modal.hide .modal-window {
  opacity: 1;
  z-index: 4;
}
.modal.open .modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.modal.hide .modal-window {
  position: absolute;
  left: -50%;
}
.modal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}
.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}
.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background 1s ease-in;
}
.modal-window {
  padding: 42px 99px 67px 103px;
  background: url("../img/bg/smoke_modal.png") center bottom/ cover no-repeat,
    #000;
  box-shadow: 0px 0px 15px #f8ff13;
  -webkit-transition: opacity 1s ease-in 1s;
  -moz-transition: opacity 1s ease-in 1s;
  transition: opacity 1s ease-in 1s;
  pointer-events: auto;
  transform: translate(-300%, -300%);
  transition: transform 0.5s ease-in 1.5s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 14px;
  height: 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: url("../img/modal_close.png") center center / cover no-repeat;
}
.modal-close:focus,
.modal-close:hover {
  cursor: pointer;
  opacity: 0.8;
}
.modal-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.modal-amount {
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  color: #f8ff13;
  text-align: center;
}
.modal-info {
  font-weight: 300;
  font-size: 24px;
  line-height: 120px;
  color: #fff;
  text-align: center;
}
.modal-btn {
  display: block;
  margin: 0 auto;
  width: 341px;
  padding: 22px 78px;
  background-color: #f8ff13;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg);
  cursor: pointer;
}
